@import "tailwindcss";

:root {
  --background: hsl(40 20% 97%);
  --foreground: #171717;
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-sans-mono);
}

@theme {
  --color-primary: hsl(168 60% 36%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0d0d0d; */
    /* --foreground: #ffffff; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
